#frame-result-register {
    display: flex;
}

#result-register {
    width: 74vw;
    height: 70vh;
    left: 18vw;
    border-radius: 12px;
    position: fixed;
    top : 18vh;
}

#table-result-register {
    margin-right: 1vw;
    margin-left: 1.5vw ;
    width: 60%;
}

h3 {
    color: red;
    margin: 20px;

}

#flex-container1 {
    display: flex;
}

table {
    align-content: center;
    width: 71.5vw;
}
td {
    width: 10px;
    height: 40px;
    align-content: center;
}

#mamon {
    width: 60px;
}

p {
    font-size:  12px;
}

#abc {
    float : left;
    margin-left : 12px;
}

#bcd {
    float: right;
    margin-right: 150px;
}

#buttonPDF {
    z-index: 1;
    position: fixed;
    left: 40vw;
    top: 80vh;
}