#frame-result-register {
    display: flex;
}

#result-register {
    width: 74vw;
    height: 70vh;
    border: 1px solid black;
    left: 20vw;
    border-radius: 12px;
    position: fixed;
    top : 22vh;
}

#table-result-register {
    margin: 12vw;
}

h3 {
    color: red;
    margin: 20px;

}

#flex-container1 {
    display: flex;
}

table {
    align-content: center;
    width: 60vw;
}
td {
    width: 10px;
    height: 40px;
    align-content: center;
}

#mamon {
    width: 60px;
}

p {
    font-size:  12px;
}