#result-register {
    width: 70vw;
    height: 60vh;
    margin-left: 10vw;
    margin-top: 5vh;
    float: right;
    border: 1px solid black;
    margin-right: 3vw;
}

h3 {
    color: red;
}

#flex-container1 {
    display: flex;
}