#body {
    background-color : #f1f1f1;
    width : 220px;
    height : 520px;
    margin-top : 30px;
    border-top-right-radius : 12px;
}

p {  
    font-family : Arial,Helvetica, sans-serif;
    font-size : 20px;
    padding: 10px;
    padding-right: 0px;
    margin: none;
}
#area {   
    width: 220px; 
    height: 50px;
} 
#area :hover {
    background-color:grey;
    color: white;
}
#areahead {
    width: 220px; 
    height: 50px;
}
#areahead :hover {
   width: 220px;
   background-color:grey;
   color: white;
   border-top-right-radius: 12px;
}
link {
    font-size: 50px;
}