#frame-room :hover {
    background-color: #CCFFCC;
    border-radius : 12px;
}

#frameSubject :hover {
    border-radius:  12px;
}

#course-room {
 font-size: 20px;
 margin: 5px; 
}

#course-time{
     font-Size:20px;
     margin: 5px
}