#frame :hover {
    background-color: #CCFFCC;
    border-radius : 12px;
}
#frameSubject :hover { 
    height: auto;
    border-radius:  12px;
}
#frameSubject {
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}
p{
    margin-bottom: 0px;
}